AEM_HOST=https://YOUR-NGROK-STATIC-DOMAIN.ngrok-free.app
NEXT_PUBLIC_AEM_HOST=https://YOUR-NGROK-STATIC-DOMAIN.ngrok-free.app
AEM_AUTH=Basic BASE64_OF_ADMIN_COLON_ADMIN
AEM_MOCK_MODE=false
REVALIDATE_SECRET=generate-a-random-string
